{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    Your shopping cart
{% endblock %}
{% block main %}
    <section class="inner-page" id="checkout-page">
        <div class="container-fluid" id="page-hero">
            <div class="row">
                <div class="col-12">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 px-0">
                                <h1>پیش فاکتور</h1>
                                <p>با تکیمل پرداخت فاکتور، خرید خود را تکمیل کنید.</p>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="./index.html">صفحه نخست</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">پیش فاکتور</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="content">
                        <div class="row">
                            <div class="col-12 col-lg-9">
                                <!-- Choose Address -->
                                <section id="choose-address">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12 py-3">
                                                <div class="pb-1 title">آدرس تحویل سفارش</div>
                                                <div class="row">
                                                    <form action="" method="post">
                                                        {% csrf_token %}

                                                        <div class="form-group mb-3">
                                                            <label for="name">نام :</label>
                                                            <input type="text" name="first_name" maxlength="50" required="" id="id_first_name" class="form-control">
                                                        </div>
                                                        <div class="form-group mb-3">
                                                            <label for="name">نام خانوادگی :</label>
                                                            <input type="text" name="last_name" maxlength="50" required="" id="id_last_name" class="form-control">
                                                        </div>
                                                        <div class="form-group mb-3">
                                                            <label for="name">رایانامه :</label>
                                                            <input type="email" name="email" maxlength="254" required="" id="id_email" class="form-control">
                                                        </div>
                                                        <div class="form-group mb-3">
                                                            <label for="name">نشانی :</label>
                                                            <input type="text" name="address" maxlength="250" required="" id="id_address" class="form-control">
                                                        </div>
                                                        <div class="form-group mb-3">
                                                            <label for="name">کد پستی :</label>
                                                            <input type="text" name="postal_code" maxlength="20" required="" id="id_postal_code" class="form-control">
                                                        </div>
                                                        <div class="form-group mb-3">
                                                            <label for="name">شهر :</label>
                                                            <input type="text" name="city" maxlength="100" required="" id="id_city"  class="form-control">
                                                        </div>
                                                        <div class="form-group mb-3">
                                                            <input type="submit" value="پرداخت و تکمیل خرید" class="btn btn-success px-4 py-2" >
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <!-- /Choose Address -->

                                <!-- Orders List -->
                                <section class="mt-3" id="orders">
                                    <div class="container mt-2">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="pb-1 title">سفارشات شما</div>
                                                <div class="row">

                                                    {% for item in cart %}
                                                        <span class="col-6 col-sm-4 col-lg-3 px-0">
                                                                  <div class="product-box">
                                                                        <div class="text-center px-1 px-sm-3">
                                                                            <a href="{{ product.get_absolute_url }}" target="_blank">
                                                                                <h2 style="color: #3972fa ;display: flex; align-items: center; justify-content: center; font-size: 16px">{{ item.product.name }}</h2>
                                                                            </a>
                                                                            <div style="text-align: right; font-size: 14px; color: #4a5361">تعداد:{{ item.quantity }} عدد</div>
                                                                            <div style="text-align: right; font-size: 14px; color: #4a5361">
                                                                                قیمت :
                                                                                {{ item.total_price }}
                                                                                تومان
                                                                            </div>
                                                                        </div>
                                                                </div>

                                                             </span>
                                                    {% endfor %}
                                                    <!-- /Order Product Record -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <!-- /Orders List -->
                            </div>
                            <div class="col-12 col-lg-3 mt-2 mt-lg-0 pr-3 pr-lg-0">
                                <div id="factor">
                                    <div class="container">
                                        <div class="row py-2">
                                            <div class="col-6">
                                                <div>جمع کل فاکتور:</div>
                                            </div>
                                            <div class="col-6">
                                                <div>{{ cart.get_total_price }} تومان</div>
                                            </div>
                                        </div>
                                        <div class="row py-2 bg-light">
                                            <div class="col-6">
                                                <div>جمع تخفیف:</div>
                                            </div>
                                            <div class="col-6">
                                                <div>200.000 تومان</div>
                                            </div>
                                        </div>
                                        <div class="row py-2">
                                            <div class="col-6">
                                                <div>هزینه ارسال:</div>
                                            </div>
                                            <div class="col-6">
                                                <div class="small">درب منزل با مشتری</div>
                                            </div>
                                        </div>
                                        <div class="row py-2" id="total">
                                            <div class="col-6">
                                                <div>مبلغ قابل پرداخت:</div>
                                            </div>
                                            <div class="col-6">
                                                <div>3.000.000 تومان</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}