{% load static %}
{% load base_tags %}

<!doctype html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>قالب فروشگاهی روبیک مارکت</title>
    <!-- CSS Styles -->
    <link rel="stylesheet" href="{% static 'shop/css/bootstrap.rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'shop/plugins/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'shop/plugins/aos-master/dist/aos.css' %}">
    <link rel="stylesheet" href="{% static 'shop/plugins/hover-master/css/hover-min.css' %}">
    <link rel="stylesheet" href="{% static 'shop/css/ionicons.css' %}">
    <link rel="stylesheet" href="{% static 'shop/css/droopmenu.css' %}">
    <link rel="stylesheet" href="{% static 'shop/css/highlight.css' %}">
    <link rel="stylesheet" href="{% static 'shop/css/nouislider.min.css' %}">
    <!-- star-ratings -->
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
    <!-- star-ratings -->
    {% block csscustome %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'shop/css/style.css' %}">
    <!-- /CSS Styles -->
</head>
<body>
<!-- Header -->
<section id="header">
    <!-- Top NavBar -->
    <div id="top-nav">
        <div class="container">
            <div class="row">
                <div class="col-8 d-none d-md-block">
                    <ul>
                        <li><a href="/">صفحه نخست</a></li>
                        <li><a href="{% url 'shop:about' %}">درباره ما</a></li>
                        <li><a href="{% url 'contact:add-message' %}">تماس با ما</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-4 text-center text-md-end" id="top-support-info">

                </div>
            </div>
        </div>
    </div>
    <!-- /Top NavBar -->
    <!-- Search NavBar -->
    <div id="search-nav">
        <div class="container pt-1">
            <div class="row py-3 align-content-center">
                <div class="col-12 col-md-3 col-xl-2 text-center text-md-start pb-2" id="header-logo">
                    <a href="./index.html">
                        <img src="{% static 'shop/images/logo.png' %}" alt=""> رتو شاپ
                    </a>
                </div>
                <div class="col-12 col-md-5 col-xl-6">
                    <div id="search-bar">
                        <form  action="{% url 'shop:search' %}" value="{{request.GET.q}}">
                        <i class="fa fa-search"></i>
                        <input type="text" value="{{request.GET.q}}" name="q"  placeholder="جستجو کنید...">
                        </form>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="row">
                        <div class="col-12 col-md-7 col-lg-6 text-center" id="btn-login-register">
                            <a href="./login.html">ورود</a> /
                            <a href="./register.html">عضویت</a>
                        </div>
                        <div class="col-12 col-md-5 col-lg-6">
                            {% with total_items=cart|length %}
                                {% if total_items > 0 %}
                                    <a href="{% url "cart:cart_detail" %}">
                                        <div class="btn btn-warning w-100">
                                            <i class="fa fa-shopping-cart"></i>
                                            <span class="d-md-none d-lg-inline-block">سبد خرید</span>
                                           ({{ total_items }})
                                        </div>
                                    </a>
                                {% else %}
                                    <div class="btn btn-warning w-100">
                                            <i class="fa fa-shopping-cart"></i>
                                            <span class="d-md-none d-lg-inline-block">سبد خرید</span>
                                           (0)
                                    </div>
                                {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Search NavBar -->
    <!-- Main NavBar -->
    <div id="main-nav">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="droopmenu-navbar dmarrow-down droopmenu-horizontal dmpos-top dmfade">
                        <div class="droopmenu-inner">
                            <div class="droopmenu-header">
                                <a href="#" class="droopmenu-toggle"><i class="dm-burg"></i></a>
                                <span class="d-md-none">منوی فروشگاه</span>
                            </div>
                            <!-- Header Mega Menu-->
                            <div class="droopmenu-nav">
                                <div class="droopmenu-nav-wrap">
                                    <div class="droopmenu-navi">
                                        <ul class="droopmenu">
                                            <li class="droopmenu-parent" aria-haspopup="true">
                                                <a href="#" aria-expanded="false"><i class="fa fa-bars"></i>&nbsp;&nbsp;گروه
                                                    های محصولات</a>
                                                <div class="dm-arrow"></div>
                                                {% category_menu %}
                                            </li>
                                            <li>
                                                <a href="{% url 'shop:about' %}">درباره ما
                                                    <em class="droopmenu-topanim"></em>
                                                </a>
                                            </li>
                                            <li class="droopmenu-parent" aria-haspopup="true">
                                                <a href="./contact.html" aria-expanded="false">تماس با فروشگاه
                                                    <em class="droopmenu-topanim"></em>
                                                </a>
                                                <div class="dm-arrow"></div>
                                                <ul style="">
                                                    <li><a href="{% url 'shop:faq' %}">سوالات متداول</a></li>
                                                    <li><a href="{% url 'contact:add-message' %}">تماس با ما</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /Header Menu Menu -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main NavBar -->
</section>
<!-- /Header -->

{% block main %}

{% endblock %}
<!-- Footer -->
<section class="pt-4 pb-3" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-6 col-sm-4 col-lg-4">
                <div class="title">دسترسی سریع</div>
                <ul>
                    <li><a href="{% url 'shop:faq' %}">سوالات متداول</a></li>
                    <li><a href="{% url 'shop:about' %}">درباره ما</a></li>
                    <li><a href="{% url 'contact:add-message' %}">تماس با ما</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-12 col-lg-8">
                <hr class="d-lg-none">
                <img src="{% static 'shop/images/logo.png' %}" alt="">رتو شاپ
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها
                    و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و
                    کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                <div class="row">
                    <div class="col-12 col-md-6 text-center p-2" id="support-info">
                        <div>7 روز هفته، 24 ساعت شبانه روز</div>
                        <div>پاسخگوی شما هستیم</div>
                        <div>093022334455</div>
                    </div>
                    <div class="col-12 col-md-6 pt-2 pt-md-0" id="certificates">
                        <div class="row">
                            <div class="col-4 text-center">
                                <a href="#"><img src="{% static 'shop/images/certificates/enamad.png'%}" alt=""></a>
                            </div>
                            <div class="col-4 text-center">
                                <a href="#"><img src="{% static 'shop/images/certificates/samandehi.png'%}" alt=""></a>
                            </div>
                            <div class="col-4 text-center">
                                <a href="#"><img src="{% static 'shop/images/certificates/etehadiye.png' %}" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Footer -->

<!-- Copyright -->
<section class="py-2" id="copyright">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6" id="social-links">
                <span>ما را دنبال کنید</span>
                <a href="#"><img src="assets/images/social/insta.png" alt=""></a>
                <a href="#"><img src="assets/images/social/facebook.png" alt=""></a>
                <a href="#"><img src="assets/images/social/linkedin.png" alt=""></a>
                <a href="#"><img src="assets/images/social/twitter.png" alt=""></a>
                <a href="#"><img src="assets/images/social/youtube.png" alt=""></a>
            </div>
            <div class="col-12 col-sm-6 text-sm-end pt-2 pt-sm-0">
                <span>کلیه حقوق و مادی معنوی محفوط است.</span>
            </div>
        </div>
    </div>
</section>
<!-- Copyright -->

<!-- Scripts -->
<script src="{% static 'shop/js/jquery.min.js' %}"></script>
<script src="{% static 'shop/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'shop/plugins/fontawesome/js/all.min.js' %}"></script>
<script src="{% static 'shop/plugins/aos-master/dist/aos.js' %}"></script>
<script src="{% static 'shop/js/droopmenu.js' %}"></script>
<script src="{% static 'shop/js/nouislider.min.js' %}"></script>
<script src="{% static 'shop/js/pagination.js' %}"></script>
{% block jscustome %}
{% endblock %}
<script src="{% static 'shop/js/scripts.js' %}"></script>

<!-- /Scripts -->
</body>
</html>